<h1>Subjects#delete</h1>
<h2>Create Subjects</h2>
	<%= form_for(:subject, :url=>{:action=>'destroy', :id => @subject.id}) do |f| %>
	<table summary="subject form fields">

<p> Are you sure you want to delete this item?</p>
<%=@subject.name %>
	<div class="form-buttons">
		<%=submit_tag("Delete Subject")%>

	</div>
	<% end %>
